$gallery-img:(
    width: 100%,
    height: 100%,
    object-fit: cover,
    box-shadow: 10px 13px 16px 2px rgba(0,0,0,1),
);

.gallery-img{
    width: map-get($gallery-img, width);
    height: map-get($gallery-img, height);
    object-fit: map-get($gallery-img, object-fit);
    box-shadow: map-get($gallery-img, box-shadow);
}