$fondo-header: url(../imagenes/Fondo-Header.jpg);
$fondo-main-1: url(../imagenes/Fondo-Main-1.jpg);
$fondo-main-2: url(../imagenes/Fondo-Main-2.jpg);
$fondo-main-2-nosotros: url(../imagenes/Fondo-Main-2-Nosotros.jpg);
$fondo-main-2-sucursales: url(../imagenes/Fondo-Main-2-Sucursales.jpg);
$fondo-main-3-nosotros: url(../imagenes/Fondo-Main-3-Nosotros.jpg);
$fondo-main-4: url(../imagenes/Fondo-Main-2.jpg);
$fondo-footer: #180A0A;
$border-color: black;